appendonly yes               # Enable AOF persistence
appendfilename "appendonly.aof"  # Specify the filename for the AOF log


# Trigger an AOF rewrite
r.bgrewriteaof()


Acessing AOF logs
# Read AOF logs
aof_logs = r.execute_command('AOF', 'READ', '0', '-1')
for log in aof_logs:
    print(log)


Configuring and Fine-Tuning Persistence:

To fine-tune and optimize persistence, you can adjust various configurations, such as the save intervals, AOF log rewrite policy, and AOF rewrite buffer size. These configurations depend on your specific requirements and workloads.

conf
Copy code
# Save settings for RDB persistence
save 900 1
save 300 10
save 60 10000

# AOF settings
appendonly yes
appendfilename "appendonly.aof"
appendfsync everysec  # Control AOF synchronization frequency
auto-aof-rewrite-percentage 100
auto-aof-rewrite-min-size 64mb